.post{
	padding: 50px 0;
	border-bottom: 1px solid #ededed;

	&:first-child{padding-top: 0}
	.entry-title{
		@include em(30);
		margin:0 0 30px;

		a{
			color: $primary-color;
			text-decoration: none;
		}
	}

	.featured-image{
		border-radius: 10px;
		overflow: hidden;

		img{
			display: block;
			width: 100%;
			max-width: 100%;
		}
	}

	.entry-summary{
		margin: 20px 0;
		p{ margin: 0}
	}
}

.pagination{
	padding: 30px 0;
	text-align: center;
}