.section-title{
	text-transform: uppercase;
	@include em(24);
	font-weight: 700;
}
.col-md-6{@include clearfix}
.news{
	width: 33.3333%;
	float: left;
	padding: 0 30px 0 0;

	&:last-child{padding-right: 0}

	.entry-title{
		a{
			color: $body-color;
			transition: .3s ease;
			&:hover{
				color: $accent-color;
			}

			&:after{
				content:" ";
				display: inline-block;
				width: 9px;
				height: 7px;
				margin-left: 10px;
				background-image: url(images/arrow.png);
			}
		}
	}
}

.page{

	.entry-title{
		@include em(30);
		font-weight: 800;
		color: $footer-color;
		margin-bottom: 50px;
	}

}